In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import wget

In [2]:
# data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
# wget.download(data, 'median_house_value.csv')

In [3]:
df = pd.read_csv('median_house_value.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

## Data Preparation

In [5]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
# Select only the features from above and fill in the missing values with 0
df.fillna(0, inplace = True)
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [7]:
df['rooms_per_household'] = df['total_rooms']/df['households']
df['bedrooms_per_room'] = df['total_bedrooms']/df['total_rooms']
df['population_per_households'] = df['population']/df['households']

## Question 1
What is the most frequent observation (mode) for the column `ocean_proximity`?

In [8]:
df.ocean_proximity.mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

## Question 2

- Create the correlation matrix for the numerical features of your train dataset.
<br> In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
- What are the two features that have the biggest correlation in this dataset?


**total_bedrooms and households -> 0.966**

In [9]:
numerical = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_households']
categorical = ['ocean_proximity']

In [10]:
df[numerical].corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_households
longitude,1.000000,-0.924664,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.027540,0.084836,0.002476
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,0.106389,-0.104112,0.002366
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,-0.153277,0.125396,0.013191
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.133798,-0.174583,-0.024581
total_bedrooms,0.068082,-0.065318,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.002717,0.122205,-0.028019
population,0.099773,-0.108785,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.072213,0.031397,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,-0.080598,0.059818,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.326895,-0.573836,0.018766
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,1.000000,-0.387465,-0.004852
bedrooms_per_room,0.084836,-0.104112,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.387465,1.000000,0.003047
population_per_households,0.002476,0.002366,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.004852,0.003047,1.000000

In [11]:
df[['total_bedrooms', 'households', 'total_rooms', 'population', 'population_per_households']].corr()

,total_bedrooms,households,total_rooms,population,population_per_households
total_bedrooms,1.000000,0.966507,0.920196,0.866266,-0.028019
households,0.966507,1.000000,0.918484,0.907222,-0.027309
total_rooms,0.920196,0.918484,1.000000,0.857126,-0.024581
population,0.866266,0.907222,0.857126,1.000000,0.069863
population_per_households,-0.028019,-0.027309,-0.024581,0.069863,1.000000

In [12]:
mean_house_value = df.median_house_value.mean()
df['above_average'] = (df.median_house_value > mean_house_value).astype(int)
df[['median_house_value', 'above_average']]

       median_house_value  above_average
0                452600.0              1
1                358500.0              1
2                352100.0              1
3                341300.0              1
4                342200.0              1
...                   ...            ...
20635             78100.0              0
20636             77100.0              0
20637             92300.0              0
20638             84700.0              0
20639             89400.0              0

[20640 rows x 2 columns]

In [13]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 42)
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 42)
df_train.reset_index(drop = True, inplace = True)
df_val.reset_index(drop = True, inplace = True)
df_test.reset_index(drop = True, inplace = True)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

## Question 3
- Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
- What is the value of mutual information?
- Round it to 2 decimal digits using round(score, 2)

In [14]:
from sklearn.metrics import mutual_info_score

In [15]:
mutual_info_score(df_train.above_average, df_train.ocean_proximity).round(2)

0.1

## Question 4

- Now let's train a logistic regression
- Remember that we have one categorical variable ocean_proximity in the data. Include it using one-hot encoding.
- Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
- Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

train_dicts = df_train[categorical + numerical].to_dict(orient = 'records')
dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(train_dicts)
dv.get_feature_names()

c:\Users\247\anaconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['bedrooms_per_room',
 'households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity=<1H OCEAN',
 'ocean_proximity=INLAND',
 'ocean_proximity=ISLAND',
 'ocean_proximity=NEAR BAY',
 'ocean_proximity=NEAR OCEAN',
 'population',
 'population_per_households',
 'rooms_per_household',
 'total_bedrooms',
 'total_rooms']

In [17]:
X_train.shape

(12384, 16)

In [18]:
val_dicts = df_val[categorical + numerical].to_dict(orient = 'records')
X_val = dv.transform(val_dicts)

In [19]:
model = model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [20]:
y_pred = model.predict_proba(X_val)[:, 1]
above_avg = (y_pred >= 0.5)
base_accuracy = (above_avg == y_val).mean().round(2)

In [26]:
(above_avg == y_val).mean().round(2)

0.84

## Question 5

- Let's find the least useful feature using the feature elimination technique.
- Train a model with all these features (using the same parameters as in Q4).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
- Which of following feature has the smallest difference?<br>
   - `total_rooms`
   - `total_bedrooms`
   - `population`
   - `households`


**Accuracy without total_bedrooms : 0.0028**

In [21]:
for i in categorical + numerical:
    base_features = categorical + numerical
    lst_features = base_features.copy()
    lst_features.remove(i)
    train_dicts = df_train[lst_features].to_dict(orient = 'records')
    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(train_dicts)

    val_dicts = df_val[lst_features].to_dict(orient = 'records')
    X_val = dv.transform(val_dicts)

    model = model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict_proba(X_val)[:, 1]
    above_avg = (y_pred >= 0.5)
    accuracy = (above_avg == y_val).mean()
    diff_acc = abs(base_accuracy - accuracy)
    print('Accuracy without '+ i + ' : ' + str(diff_acc.round(4)))

Accuracy without ocean_proximity : 0.0197
Accuracy without longitude : 0.0081
Accuracy without latitude : 0.0076
Accuracy without housing_median_age : 0.0084
Accuracy without total_rooms : 0.0038
Accuracy without total_bedrooms : 0.0028
Accuracy without population : 0.0137
Accuracy without households : 0.0059
Accuracy without median_income : 0.0546
Accuracy without rooms_per_household : 0.0047
Accuracy without bedrooms_per_room : 0.0038
Accuracy without population_per_households : 0.0042

## Question 6

- For this question, we'll see how to use a linear regression model from Scikit-Learn
- We'll need to use the original column 'median_house_value'. Apply the logarithmic transformation to this column.
- Fit the Ridge regression model (`model = Ridge(alpha=a, solver="sag", random_state=42)`) on the training data.
- This model has a parameter alpha. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`
- Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.
- If there are multiple options, select the smallest alpha.

**Smallest alpha is 0**

In [22]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [23]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 42)
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 42)
df_train.reset_index(drop = True, inplace = True)
df_val.reset_index(drop = True, inplace = True)
df_test.reset_index(drop = True, inplace = True)

# Apply log transformation
y_reg_train = np.log1p(df_train.median_house_value.values)
y_reg_val = np.log1p(df_val.median_house_value.values)
y_reg_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [24]:
train_dicts = df_train[categorical + numerical].to_dict(orient = 'records')
dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(train_dicts)

val_dicts = df_val[categorical + numerical].to_dict(orient = 'records')
X_val = dv.transform(val_dicts)

In [25]:
for i in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=i, solver="sag", random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)
    score = np.sqrt(mean_squared_error(y_val, y_pred))

    print(i, round(score, 3))

0 0.454
0.01 0.454
0.1 0.454
1 0.454
10 0.454